
.length{
    width: 100%;
    margin-top: 10px;
}
.btn-f-l{
    width: 100%;
    padding-left: 64px;
    border-radius: 10px;
    font-style: normal;
    max-width: 100%;
    text-align: center;
    white-space: nowrap;
    box-shadow: transparent 0px 0px 0px 2px;
    color: rgb(52, 69, 99);
    cursor: pointer;

}
input#add-bkl-line {
    padding: 7px;
    padding-left: 0px;
    width: 41%;
    border: 1px solid #f4f5f7;;
    font-size: 15px;
    color: gray;
    background-image: url(https://img.icons8.com/pastel-glyph/2x/search--v2.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 7%;
    outline: 0;
    background-color: #f4f5f7;;
    cursor: pointer;
}
input#add-bkl-line:focus{
    background-color:#d6d6d6 ;
    background-image: none;
}

.dropdown h5{
    font-size: 17px;
}
.add-btn{
    background-color: #f4f5f7;
    border: none;
    transition: width .3s ease-in-out;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -ms-transition: width .3s ease-in-out;
}
.add-btn:focus{
    width: 210px !important; 
}

.add-btn2{
    background-color: #f4f5f7;
    width: 268px !important;
    border-radius: 10px;
    margin-left: 15px !important;
    border-bottom: 1px solid #c4c0c0 !important;
    border-radius: 5px !important;
    margin-top: -8px;
    position: relative;
}
.add-btn2:focus{
    border-bottom: 1px solid #92aeda !important;
    background-color: none !important;
}


.plus-span{
    cursor: pointer;
}
.input-hover-resize{
    width: 50%;
}
.clear-btn{
    padding: 6px;
    border-radius: 5px;
}
.clear-btn:hover{
    background-color: #d5d6da;
}

select span img{
    width: 47px;
}
.project-logo option{
    background-color: #ffffff !important;
    border-radius: 100px !important;
}
.clear-btn2{
    cursor: pointer;
    color: #727d91 !important;
}
.close-btn b{
    color: #727d91 !important;
}
.lbl-item b{
    color: #727d91 !important;
}
.dropdown-menu .drop-filter-menu{
    top: 100px !important;
}



.main-logo{
    background-image: url(../../img/logo1.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: center;
    height: 43px;
    margin-left: 15px;
    margin-bottom: -13px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: #05367f;
}

#general{
    display: none;
}
#general2{
    display: none;
}
#general3{
    display: none;
}
.search-clear{
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 261px;
    display: none;
}
/* 
.description-style-background input:hover{
    background-color:#eeeeee;
    transition: background-color .5s;
} */

.description-style{
    height: 30px;
    width: 100%;
    border: none;
    font-size: 14px;

}

.description-style:hover{
    background-color: #ffffff;
    transition: background-color .5s;

}
.description-style:focus{
    border: none !important;
    box-shadow: none !important;
}
.description-style-background span{
    font-size: 14px;
    float: left;
    width: 100%;
    margin: 2px;
    display: flex;
    word-break: break-all;
    text-align: start;





}
.span_hover:hover{
    background-color:#eeeeee;
    transition: background-color .5s;
}
.span_hover:hover .points-btn{
    background-color:#d5d6da;
    color: black;
}
.description-left:hover .points-btn{
    background-color:#d5d6da;
    color: black;
}
.spilted tr:nth-child(even) button{
    color: #ffffff;
    background-color: #ffffff;
}
.description-style-background span:focus{
    border: none !important;
    box-shadow: none !important;
}
.description-left{
    font-size: 14px;
    vertical-align:-webkit-baseline-middle;
    text-align: center;
    border: none;
    word-break: break-word;
}
.description-left:hover{
    background-color:#f4f5f7;
}
.dropdown:hover .pointes{
    background-color: #d5d6da;
    color: #000000;
}
.span_hover:hover{
    background-color:#f4f5f7;
}
.table-hover-cls:nth-child(odd):hover{
    background-color:#f4f5f7;   
}
.table-hover-cls:nth-child(even):hover{
    background-color:#f4f5f7;   
}
.descripton-alt{
    float: left;
    font-size: 12px;
    cursor: pointer;
    margin-left: 20px;
}

.span_hover{
    width: 100%;
}

.pointes{
    color: #ffffff;

}
.pointes:hover{
    color: #000000;
}

.description-style-background svg{

    width: 12px !important;
    margin: 4px !important;
    margin-top: 4px !important;

}
/* switch on off stat */
.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 16px;
    float: right;
    right: 96px;
}
.switch h3{
    margin-left: -100px;
    margin-top: 0px;
    font-size: 10px;
    font-weight: 600;
    color: #727d91;
}
.history_show-hide h3{
    pointer-events: none;
    margin-left: 45px; 
    width: 100px; 
    color:rgb(23, 43, 77);
}
.prototype-cls h3{
    pointer-events: none;
    margin-left: 46px; 
    width:100px;
    color: rgb(23, 43, 77);
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 0px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.change_history_hide{
    display: none;
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.hideme{
    display: none;
}
/* protoype on off */
.col-4 .pro{
    display:none;
}

.table-hide-show{

    box-shadow: 0px 20px 20px #d4d4d4;
}
.proporty{
    margin-top: 0px;
    right: 0px;
}
.proporty p{
    margin-left: -107px;
    margin-top: 0px;
    font-size: 11px;
    width: 100px;
}
/* add input on off */
.input-on-off{
    right: 0px;
    margin-top:0px;
    z-index: 100;

}
.input-on-off p{
    margin-left: 39px;
    margin-top: 0px;
    font-size: 11px;
}
/* switch on off end */
.table-odd-style tr:hover{
    background-color: #d5d6da !important;
}
.user-menu{
    margin-left: 86px !important;

}

.table-odd-style tr:nth-child(odd) {
    background: #eeeeee}
.points-btn{
    margin-top: -26px;

}
.span-button-div .points-btn{
    color: #ffffff;
}
.span-button-div:hover .points-btn{
    background-color: #d5d6da;
    margin-top: -24px; 
    color: black;
}
.description-style:hover .pointes{
    background-color: #eeeeee; 
}
#description_table_id tr:nth-child(odd) {background: #eeeeee}

.spilted tr:nth-child(odd) {

    background: #eeeeee}
/* .spilted input:nth-child(2) {background: #eeeeee} */
.spilted tr:nth-child(odd) button{
    color: #eeeeee;
    background-color: #eeeeee;
}
#generalview_input_list{
    padding: 0px;
}
/* .description-style-background:nth-child(odd) {background: #eeeeee !important;} */
/* .description-style-background input:nth-child(odd) {background-color: #eeeeee !important;} */
/* .spilted input:nth-child(odd) {background-color: #eeeeee !important;} */


.spilted tr:nth-child(odd) td input{
    background: #eeeeee !important;
}

.spilted tr:nth-child(odd) td input:hover{
    background: #ffffff !important;
}
.spilted tr:nth-child(even) td input:hover{
    background: #eeeeee !important;
}

.points-btn:nth-child(odd){
    padding: 4px !important;

}

/* ****************************************************
ikinci hisse draq-drop resize olan hisse

*************************************************** */

.draggable{
    position: relative;

}
.popup {
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #ffffff;
    color: #fff;
    border: 1px solid #c4c0c0;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -80px;
}
.toggle-pp2{
    display: none;
}

.add-input-style{
    width: 144px;
    margin-bottom: 7px;
}
/* Popup arrow */
/* .popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.js-is-hidden{
    display: none;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.add-right{
    color: rebeccapurple;
    font-size: large;
    margin: 3px;
    cursor: pointer;
}
.add-right:hover{
    color:#cccccc;
}
.add-left{
    color: rebeccapurple;
    font-size: large;
    cursor: pointer;
    margin: 3px;
}
.add-left:hover{
    color:#d0ade6;
}
.plus-btn{
    color:#f1f1f1;
    font-size: 18px;
    cursor: pointer;

}
.plus-btn:hover{
    color:#cccccc;;
}
.bold-itallic{
    color: black;
}
.itallic{
    cursor: pointer;
    color: #000000;
}

.bold{

    cursor: pointer;
    color: #000000;

}



/* input name table */

.input-name-add-table{
    border: 1px solid #eeeeee;
    width: 100%;


}
.input-name-add-table td{
    padding: 5px;
}
.input-name-add-table th{
    padding-left: 4px;
}
.input-name{
    height: 25px;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    padding: 10px;
    margin: auto;

}
.input-name:focus{
    background-color: #ffffff;
}
.input-name:hover{
    background-color: #d5d6da;
}
/* .dust-bin a:nth-child(odd){
    color: #eeeeee;
} */
.spilted tr:nth-child(even) a{
    color:#ffffff;
}
.spilted tr:nth-child(odd) a{
    color:#eeeeee;

}
.new-input-row:hover .dust-bin{
    color:blue;
}
.colored-a{
    color: #000000 !important;
}

.spilted tr:nth-child(odd){
    background-color: #eeeeee;
}
.input-name:hover{
    background-color: #ffffff;
}

.description-delete-btn{
    background-color: #d5d6da !important;

}
.sprint-label1 b{
    padding: 0px;
    font-size: 12px;
    line-height: 1;
    color: #727D91 !important;
    font-weight: 600;
}

.a{
    display: inline-block;
}
.storyCard-right-menu b{
    font-size: 12px;
    color:rgb(23, 43, 77);
    font-weight: 600;

}
.storyCard-right-menu{
    float:right;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
/* status dropdown menu   */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 2px;
    font-size: 10px;
    border: none;
}

.dropdown_status {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown_status:hover .dropdown-content {display: block;}

.dropdown_status:hover .dropbtn {background-color: #3e8e41;}
/* status dropdown menu end */

output {
    font: 1rem 'Fira Sans', sans-serif;
}

[contenteditable='true'] {
    caret-color:black;
}
.file_upload_div b{
    color:#727f94;
    font-size: 12px;
}
.file_upload_div i{
    color: #727d91;
    font-size: 14px;
    padding-left: 10px;

}
#pinnedImages1 i{
    color: #727d91;
    font-size: 14px;
    margin-left: 10px;
}

/* form starting stylings ------------------------------- */
.group  { 
    position:relative; 
    margin-bottom:17px; 
    width: 180px;
}
.groups{
    margin-top: 23px;
}

.group input {
    font-size: 12px;
    padding: 5px 4px 5px 5px;
    display: block;
    width: 180px;
    border: none;
    height: 40px;
}
.group input:focus     { 
    outline:none;
    border: 3px solid #4C9AFF;
    border-radius: 5px;

}
.group input:hover{
    background-color:#cccccc;
    border-radius: 4px; 
}
.group input:focus:hover{
    background-color: white;
}

/* LABEL ======================================= */
.group label          {
    color:rgb(23, 43, 77);
    font-weight: 600;
    font-size:12px;
    position:absolute;
    pointer-events:none;
    left:0px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~label,input:valid ~label    {
    top:-20px;
    font-size:12px;
    color:rgb(23, 43, 77);
    font-weight: 600;

}

/* active state */
input:focus ~ .bar:before,input:focus ~ .bar:after {
    width:50%;

}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
.group input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to  { width:0; background:transparent; }
}

.custom-select{
    color:rgb(23, 43, 77) !important;
    font-weight: 600 !important;
    font-size:12px !important;
}
.attach{
    text-decoration: none;
    background-color: #cccccc;
    padding: 10px 38.2px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;

}
.attach span{
    font-family:  -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Fira Sans','Droid Sans','Helvetica Neue',sans-serif !important;
    font-weight: 600;
}
.attach:hover{
    text-decoration: none !important;
    color:rgb(23, 43, 77) !important;

}
.attachA i{
    padding: 11px 67.4px;
}
.attachDiv{
    font-size: 12px;
    color: #727d91;
}

b{
    color:rgb(23, 43, 77) !important;
}
.table_border_cls{
    border: 1px solid #cccccc !important;
}
.table_border_cls span{
    word-break: break-all;
}
.header-userName{
    width: 100%;
    animation: header .5s ease;

}

.row-style{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 0px;
    margin-left: 4px;
    height: 39px;
}

.first-side:hover {
    width: 210px;
    transition: width 1.0s ease;
    transition-delay:2s;
}

.first-side:hover .description-main{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 3s linear;
}

.description-main{
    visibility: hidden;
    opacity: 0;

    color: white;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    width: 130px;
    text-align: left;


}
.description-main:hover{
    background-color: #032d6b;
    padding: 4px 4px;
    border-radius: 9px;
    width: 140px;


}


.add_descriotion_btn{
    margin-bottom: 5px; 
    display: flex;
    justify-content: flex-end; 
    padding: 0px;
}
button.dropdown-item {
    font-size: 12px;
    color: #000000 !important ;
    padding-bottom: 2px;
    background-color: #ffffff !important;
    width: 100%;
}
button.dropdown-item:hover{
    background-color: #8f939b !important;
    color: #ffffff !important;
}
.input-add-alt-menu{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-left: 13px;
}
.input-add-table{
    /* 
        padding: 0px 0px 0px 0px;
        width: 100%;
        height: 100vh;
        overflow-x: auto; */

}
#ipo-tab-setting-inputAdd{
    padding-left: 0px;
    padding-right: 0px;
}
.container .tab-pane{
    padding:0px;
    height: 75vh;

}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Revan Edit Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.bar {
	width: 80%;
	background: #ddd;
	margin: 0 auto;
	
}

.load {
	width: 0%;
	height: 20px;
}
.viewbtnIpo{
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
    border: 1px solid;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 12.8px;
    font-size: .8rem;
    height: 25px;
    margin: 0;
    padding: 0 .8rem;
    text-decoration: none;
     vertical-align: top;
}
.viewbtnIpo:hover{
    background: #008ec2;
    border-color: #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
}
    

/*  image viewver */
/* The Modal (background) */
#image-viewer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-content { 
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
#image-viewer .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
#image-viewer .close:hover,
#image-viewer .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


.popup-Elements{
    color: transparent;

    position: absolute;
    left: 50%;
    z-index: 200;
    top: -35px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    width: 74px;
    height: 74px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    padding: 3px;
  color: black;
  visibility: hidden;
    
}
.editBtnLVSect{
    width: 34px;
    height: 34px;
    cursor: pointer;
    border-radius: 2px;
    padding-top: 5px;
    text-align: center;
    font-size: 15px;
}
.deleteBTn:hover{
    color: rgb(206, 65, 65);
}
.draggablePopup{
    
    width:250px;
    padding: 5px;
    height:300px;
    display:none;
    position:absolute;
    left:50%; 
    top:50%;
    margin:-25px 0 0 -50px;
    border-radius:5px;
    z-index: 55555;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    background-color: white;
    overflow-x: scroll;
}

.specialAtrTable thead th {
    font-weight: 400;
    background: #8a97a0;
    color: #FFF;
  }
  
.specialAtrTable tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  .specialAtrTable tr:nth-child(even) {
    background: #e8eeef;
  }
  
  .specialAtrTable td {
    text-align: left;
    padding: 5px;
    font-weight: 300;
  }
  .specialAtrTable th {
    text-align: left;
    padding: 20px;
    font-weight: 300;
  }
  

  .CustomSelectBoxIpo {
  border: 0;
  border-bottom: 2px solid #9e9e9e;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
  
}

.CustomLabelIpo {
  
  left: 0; right: 0;
  color: #616161 ;
  display: flex ;
  align-items: center ;
  position: absolute ;
  font-weight: bold;
  cursor: text ;
  transition: .2s ease-in-out ;
  box-sizing: border-box ;
  top: -25px ;
  pointer-events: none ;
}

.CustomSelectBoxIpo,
.CustomLabelIpo {
  width: 100% ;
  height: 1.5rem ;
  font-size: 12px ;

  
}


.tab-content fieldset{
   
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
  

/* live proto inputs */

.customInputIpo {
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
    
  }
  
  .customInputLabel {
    top: 0;
    left: 0; right: 0;
    color: #616161;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-in-out;
    box-sizing: border-box;
  } 
  
  .customInputIpo,
  .customInputLabel {
    width: 100%;
    height: 1.5rem;
    font-size: 1rem;
  }
  
  /* Interation */
 
  .customInputIpo:focus {
    border-bottom: 2px solid #26a69a;  
  }
  

 
  .customInputIpo:focus  .customInputLabel {
    color: #26a69a;
    font-size: .8rem;
    top: -30px;
    pointer-events: none;
  }



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Revan Edit Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.editBtnLVSect:hover {
    background-color: rgba(243, 239, 239, 0.815);
}
.jsCodeModalClass,.guiClassModal_classbody{
    height: 300px;
}

.draggable:hover .popup-Elements{
   
    color: #000000;
    visibility: visible;

}

.lbs {
    margin-top: -8px;
    display:flex;
    margin-left: -64px;
}
.lbs .dropdown {
    display: inline-block;
    margin-bottom: 23px;
}
.badge{
    background-color: rgb(0, 82, 204);
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    min-width: 1px;
    text-align: center;
    border-radius: 2em;
    padding: 0.166667em 0.5em;
    position: absolute;
    right: -33px;
    top: 5px;
    font-style: initial;

}

.bug-filter-badge-label{
    background-color: rgb(0, 82, 204);
    color: rgb(255, 255, 255);
    /*display: inline-block;*/
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    min-width: 1px;
    /*text-align: center;*/
    border-radius: 2em;
    padding: 0.166667em 0.5em;
    /*position: absolute;*/
    /*right: -33px;*/
    /*top: 5px;*/
    font-style: initial;
}

.bug-filter-badge{
    background-color: rgb(0, 82, 204);
    color: rgb(255, 255, 255);
    /*display: inline-block;*/
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    min-width: 1px;
    /*text-align: center;*/
    border-radius: 2em;
    padding: 0.166667em 0.5em;
    /*position: absolute;*/
    /*right: -33px;*/
    /*top: 5px;*/
    font-style: initial;
}
/* Drag div- modal  */
.drag-modal-color{
    width: 37px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.font-size-class{
    width: 67px;
    height: 23px;
    color: rgb(23, 43, 77) !important;
    font-weight: 600 !important;
    font-size: 11px !important;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding-top: 4px;
}
.drag-modal-cellno{
    width: 71px;
    height: 23px;
    padding: 1px 5px;
    margin-bottom: 4px;

}
.drag-modal-component{
    width: 124px;
    height: 23px;
    padding: 1px 5px;
    margin-bottom: 4px;
}
.drag-modal-horizontal{
    width: 100px;
    height: 23px;
    padding: 1px 5px;
    margin-bottom: 4px;
}

.btn-bold-itallic{
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 21px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 23px;
    line-height: 0;
}

.btn-bold-itallic:focus{
    background-color: #cccccc;

}
.btn-bold-itallic:hover{
    background-color:#ced4da ;
}
/* drag div- modal  */
.first-side {
    display: block;
    position: fixed;
    left: 0;
    box-shadow: 1px 0px 1px 1px #082d5aa3;
    top: 0;
    width: 67px;
    transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 1001;
    background-color: rgb(5, 54, 127);
    height: 90vh;
    overflow-y: auto;
    overflow-x:hidden;
    transition: width 1s ease;


}
.first-side::-webkit-scrollbar {
    width:6px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}
.first-side::-webkit-scrollbar-track {
    background: rgb(11, 66, 148) !important; 
}

.first-side::-webkit-scrollbar-thumb {
    background-color: rgb(4, 43, 102) !important;
    outline: 1px solid;

} 

.filterpages{
    font-size:12px;
    padding:7px 10px;
    margin:0px;
    overflow: auto;
    /*height: 200px;*/
}
table.lbl-list-table tr td {
    padding-top: 4px;
    font-size: 14px;
}
.newlabelspan{
    font-weight: 600 !important;
    color: #727D91;
    vertical-align: -webkit-baseline-middle;
    font-size: 12px !important;
    margin-top: -11px;
    float: right;
    margin-left: 3px;
}

.label-show{
    padding: 2px 10px;
    width: 360px;
    position: fixed !important;
    z-index: 10000 !important;
    transform: translate3d(8px, 97px, 0px) !important;
}

.label-show-show-4-task{
    padding: 2px 10px;
    width: 560px;
    position: fixed !important;
    z-index: 10000 !important;
    transform: translate3d(100px, 50px, 0px) !important;
}

.sprint-show{
    padding: 2px 10px;
    width: 360px;
    position: fixed !important;
    z-index: 10000 !important;
    transform: translate3d(160px, 97px, 0px) !important;
}

.sprint-show-4-task{
    padding: 2px 10px;
    width: 560px;
    position: fixed !important;
    z-index: 10000 !important;
    transform: translate3d(100px, 50px, 0px) !important;
}
.filter-show{
    padding: 2px 10px;
    width: 360px;
    position: fixed !important;
    z-index: 10000 !important;
    transform: translate3d(70px, 97px, 0px) !important;
    height: 295px;
    overflow-y: auto;
}
.delete-show-hide a{
    color: grey;
}
.delete-show-hide h3{
    pointer-events: none;
}
.delete-show-hide a.colorchange{
    color:#007bff;
    pointer-events: auto;
}
.delete-show-hide{
    right: 83px;
    margin-top: 6px;
}
.copy-move-print{
    padding-right: 0px;
    margin-top: 13px;
}
.copy-move-print a{
    font-size: 12px;
    color: #000000;
    text-decoration: none;
}

button.dropdown-item:hover a{
    color: #ffffff;
}
#generalview-us-header-name{
    font-size: 24px;
    margin-left: 15px;
    font-style: initial;
    color: #274274;
    font-weight: 600;
}
/* ************************
START PROJECT SECTION
*********************** */
.project-table-list{
    border: 1px solid #cccccc;
}
.project-table-list thead{
    cursor: move;
}
.project-table-list tr:nth-child(even){
    background-color: #eeeeee;
}

.project-table-list thead{
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}
.project-table-list td:nth-child(1){
    border-right: 1px solid #dee2e6;
}
.project-table-list td:nth-child(2){
    border-right: 1px solid #dee2e6;
}
.project-table-list td:nth-child(3){
    border-right: 1px solid #dee2e6;
}

.project-table-list td:nth-child(5){

    text-align: center;
}
.project-table-list td:nth-child(6){

    text-align: center;
}
.project-table-list td:nth-child(7){
    text-align: center;
}
.user-list td:nth-child(2){
    border-right: none;
}
.user-list td:nth-child(4){
    text-align: center;
    border-right: none;
}
.user-list td:nth-child(3){
    text-align: center;
    border-right: none;
}
.tasktype-table-list td:nth-child(2){
    border-right: none;
}
.tasktype-table-list td:nth-child(3){
    text-align: center !important;
    border-right: none;
}
.tasktype-table-list td:nth-child(4){
    text-align: center !important;
}
.project-table-list tr:nth-child(odd) a{
    color: #ffffff;
}
.project-table-list tr:nth-child(even) a{
    color: #eeeeee;
}
.project-table-list tr:hover a{
    color: #2C73B4;
}
.project-table-list tr.active:hover a{
    color:#ffffff
}
.project-table-list tr.active:hover {
    color:#ffffff
}
.project-table-list i:hover{
    color: #92aeda;
}

/* search */
.search {
    margin: 13px;
}
.pro-tr .active{
    display: none;
}

.search > div {
    display: inline-block;
    position: relative;
}

.search > div:after {
    content: "";
    background: #000000;
    width: 1px;
    height: 12px;
    position: absolute;
    top: 21px;
    right: 0px;
    transform: rotate(141deg);
    box-shadow: 1px 0 #000000;
}

.search > div > input {
    color: #000000;
    font-size: 14px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 12px;
    border: solid 1px #000000;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
    margin-left: 2px;
}


.search > div > input:focus::placeholder {
    opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
    width: 300px;
}

.new-proje-add a{
    text-decoration: none;
    color: #000000;
}
.new-proje-add {
    margin-left: -17px;
    margin-top: 10px;}
.new-user-add a{
    text-decoration: none;
    color: #000000;
}
.new-user-add {
    margin-left: -17px;
    margin-top: 10px;}
.add-project1{
    text-align: end;
}
.add-project2{
    text-align: end;
}
.add-project3{
    text-align: end;
}
.projectDesCod {
    border: none;
}
.projectDesCod td:nth-child(odd) {
    background-color: red;
}
.bottombtn2{
    position: fixed;
    top: 90vh;
    background-color: #d8d8d8;
    width: 80px;
    height: 10vh;
    transition: width 0.99s ease;
    z-index: 10000;

}

.first-side:hover ~ .bottombtn2 {
    width: 224px;
    transition: width 1s ease;
    transition-delay:2s;

}
.bottombtn2:hover > .first-side {
    width: 217px;
    transition: width 1s ease;
    transition-delay:2s;


}
.first-side:hover ~ .bottombtn2 .myaccountName {
    color: #032d6b;
    transition-delay: 2s;
    transition-property: color;

}
.bottombtn2:hover {
    width: 217px;
    transition: width 1s ease;

}
.bottombtn2:hover .myaccountName {
    color: #032d6b;

}
.bottombtn2 .btnplus{
    margin-left: 30px;
}

.myaccountName{
    color: transparent;
    position: fixed;
    left: 75px;
    font-size: 14px;
    cursor: pointer;
    transition: width 0.9s ease;
    top: 91vh;


}
.checkbox-password{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-left: -13px;
}
.right-menu-description{
    margin-right: 0px;
    font-size: 12px;
    width: 180px;
}
.right-menu-description b{
    line-height: 3;
}
.right-menu-description span:nth-child(2){
    font-size: 14px;
    color:rgb(23, 43, 77); 
}
.userstoryDeletAll{
    width: 145px;
    margin-top: 8px;
}
.userstoryDeletAll h3{
    margin-left:45px;
    width: 100px; 
    color:rgb(23, 43, 77); 
    font-size: 12px;
}
.addUserStoryCheck input{
    margin-top: 0px;padding:0px;
}
.addUserStoryCheck{
    padding: 0px;font-size: 13px;
}
/* ***********************
END PROJECT SECTION
*********************** */
.user-status{
    width: 180px; 
    height: 36px;
    background-color: #cccccc;
}
.user-priority{
    width: 180px; 
    height: 36px;
    background-color: #cccccc; 
    margin-top: 5px;
}
.prototype-on-off,
.history-on-off,
.userstoryDeletAll{
    width: 180px;
}
.prototype-on-off .switch,
.history-on-off .switch,
.delete-show-hide{
    right: 0px;
    margin-top: 13px;
    float: none;
}
.fa-ellipsis-h:before {
    font-size: small;
}
.inputAndDes,
.prosesDes{
    font-size: 14px;
    margin-bottom: 0px;
}
.dragsection {
    margin-right: -10px;
}
.inputonoffDiv{
    display: flex;
    padding-left: 0px;
}
.trashbtn{
    padding-left: 0px;
}

.us-td-list a{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */    
}
.allCheckUsername{
    margin-left: 3px;
}

.main-design-page{
    background-color: #D3E0E5;
    /* #F4F5F7; */
    height:90vh;
    overflow-y: scroll; 
    overflow-x: hidden; 
    padding:5px 40px;

}
.main-design-page.col-11{
    -ms-flex: 0 0 95.666667% !important;
    flex: 0 0 95.666667% !important;
    max-width: 95.666667% !important;
}
.main-design-page.col-8{
    -ms-flex: 0 0 72.666667% !important;
    flex: 0 0 72.666667% !important;
    max-width: 72.666667% !important;
}

.gooeyMenu{
    padding-right: 0px;
}
.home_icon_menu {
    -webkit-filter: url("#goo");
    filter: url(#goo);
    position: fixed;
    float: right;
    bottom: 70px;
    margin-top: 0px;
    box-sizing: border-box;
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;


}
/* 
  .home_icon_menu {
    -webkit-filter: url("#goo");
    filter: url(#goo);
    position: fixed;
    float: right;
    bottom: 150px;
    margin-top: -34px;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    
   

  } */

.home_icon_menu-item {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    margin-left: 0px;
    position: fixed;
    top: 0px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    z-index: 100;
    right: 7%;
    top: 90vh;
}

.home_icon_menu-open-button {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    position: fixed;
    margin: 0 auto;
    top: 0px;
    text-align: center;
    line-height: 10px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    clear: both;
    background-color: transparent;
    /* box-shadow: 0px 1px 8px #718392; */
    right: 7%;
    top: 90vh;

}

.home_icon_menu-open {
    display: none;
}

.home_icon_menu-item:hover {
    background: #ffffff;
    color: #005bac;
    text-decoration: none;
}

.home_icon_menu-item:nth-child(3) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.home_icon_menu-item:nth-child(4) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.home_icon_menu-item:nth-child(5) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.home_icon_menu-item:nth-child(6) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.home_icon_menu-open-button {
    z-index: 2;
    cursor: pointer;
}

.home_icon_menu-open-button:hover {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    /*-webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
            transform: scale(0.8, 0.8) translate3d(0, 0, 0);*/
}

.home_icon_menu-open-button.active {
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    background-color: #ffffff;

}

.home_icon_menu-item.active {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.home_icon_menu-item.active:nth-child(3) {
    -webkit-transition-duration: 280ms;
    transition-duration: 280ms;
    -webkit-transform: translate3d(10.9466px, -140.47586px, 0);
    transform: translate3d(10.9466px, -140.47586px, 0);

}

.home_icon_menu-item.active:nth-child(4) {
    -webkit-transition-duration: 380ms;
    transition-duration: 380ms;
    -webkit-transform: translate3d(-30.9466px, -110.47586px, 0);
    transform: translate3d(-30.9466px, -110.47586px, 0);
}


.home_icon_menu-item.active:nth-child(5) {
    -webkit-transition-duration: 480ms;
    transition-duration: 480ms;
    -webkit-transform: translate3d(-55.9466px, -75.47586px, 0);
    transform: translate3d(-55.9466px, -75.47586px, 0);
}


.home_icon_menu-item.active:nth-child(6) {
    -webkit-transition-duration: 580ms;
    transition-duration: 580ms;
    -webkit-transform: translate3d(-75.9466px, -40.47586px, 0);
    transform: translate3d(-75.9466px,-40.47586px, 0);
}
.home_icon_menu-item.active:nth-child(7) {
    -webkit-transition-duration: 580ms;
    transition-duration: 580ms;
    -webkit-transform: translate3d(-90.9466px, 0.47586px, 0);
    transform: translate3d(-90.9466px, 0.47586px, 0);
}

.gooeyMenuDesc-2 h6,
.gooeyMenuDesc-3 h6,
.gooeyMenuDesc-4 h6,
.gooeyMenuDesc-5 h6{
    display: none;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    right: 80px;
    text-align: left;

}
.gooeyMenuDesc-1 h6{
    display: none;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;
    right: 100px;
    text-align: left;
}
.gooeyMenuDesc-1.active h6{
    position: relative;
    bottom: 30px;
    width: 100px;
    display: block;


}
.gooeyMenuDesc-2.active h6{
    position: relative;
    bottom: 30px;
    width: 100px;
    display: block;

}
.gooeyMenuDesc-3.active h6{
    position: relative;
    bottom: 25px;
    width: 100px;
    display: block;

}
.gooeyMenuDesc-4.active h6{
    position: relative;
    bottom: 25px;
    width: 100px;
    display: block;

}
.gooeyMenuDesc-5.active h6{
    position: relative;
    bottom: 25px;
    width: 100px;
    display: block;

}


/* zoom section   */

.btnZoom {
    width: 25px;
    height: 25px;
    background: #eef;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #005bac;
    padding: 2px 0px 0px 0px;
    top:90vh;
    position: fixed;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
    cursor: pointer;

}
.btnZoom i{
    line-height: 2;
}
.btnZoom:hover {
    background:#dadade;
}

.zoom{
    bottom: 100px;
    margin-top: -34px;
    box-shadow: 0px 1px 8px #8b8b8e;
}

.zoom-out{
    bottom: 120px;
    box-shadow: 0px 1px 8px #8b8b8e;
}
.zoom-init{
    bottom: 120px;
    margin-left: 35px;
    box-shadow: 0px 1px 8px #8b8b8e;
}

.zoom-refresh{
    bottom: 100px;
    margin-top: -34px;
    margin-left: 35px;
    box-shadow: 0px 1px 8px #8b8b8e;
}
/* --------------------------------------------- */
.nav-link-custom i{
    font-size: 20px;
}
.tool-item.active{
    color: #006BE5 !important;
}
.tool-item.active:hover{
    color: #006BE5 !important;
}
.tool-item:hover{
    color: #000000 !important;
}
.nav-link-custom{
    padding: 5px 7px;

}
#canvas-btn-icon{
    border-bottom: 1px solid #eeeeee !important;
}
.tool-panel-col{
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;
    /* line-height: 2; */
    border: 1px solid #D1D1D1;

}
.tool-panel-col.col-1{
    max-width: 4.333333% !important;
}
.tool-item{
    text-align: center;
    color: #000000;
}
.tool-item span{
    font-size: 9px;
    color: #000000;
}
#currentAll-btn-icon{
    cursor: pointer;
}
.tool-item{
    cursor: pointer;
}
.tool-item:hover{
    border-color: transparent !important;
}
.tool-item.active{
    border-color: #dee2e6 #dee2e6 #dee2e6 #ffffff !important;
    border-bottom-right-radius: .25em;
    border-bottom-left-radius: .25em;
}

.tab-content-style{
    
    border-right: none;
   
    width: 100%;
    
    height: 100%;


}
.tab-content{
    display: block;
    overflow-y: scroll;
    height:100% !important;
    background-color: #ffffff;
}

.prototype-section{
    padding-right: 0px;
    padding-left: 0px;
    display: none;
    width: 40vh;
    border-right: none;
}

.prototype-section.col-3{
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
}

/* Drag ckeckbox */
.containerA input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark1 {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;

}
.checkmark2 {
    display: none;
}
.containerA input:checked ~ .checkmark1:after {
    display: block;
}


@media print{
    body *{
        visibility: hidden;
    }
    .btn{
        display: none !important;
    }
    .print-container, .print-container *{
        visibility: visible;

    }
    .spilted tr:nth-child(odd) {

        background: #ffffff
    }
    .spilted input:nth-child(2) {background: #ffffff}
    .spilted tr td input{
        display: none;
    }
    #us_input_list_check_all_new{
        display: none;
    }
    .btn{
        display: none;
    }

}
#smb-general-main-info{
    font-size: 24px;
    margin-left: 15px;
    font-style: initial;
    color: #274274;padding-bottom:15px;
    font-weight: 600;
    height: auto;
}



/*start ExecutiveSummary 22.09.2020 */
.tdCenter{
    text-align: center;
}
.executiveTblStyle tr:nth-child(odd) a{
    color:#eeeeee;
}
.executiveTblStyle tr:nth-child(even) a{
    color:#ffffff;
}
.bug-tr.active:hover .summ-icon{ 
    color:#ffffff;
}
.bug-tr.active .summ-icon{ 
    color:#ffffff;
}

.bug-tr:hover .summ-icon{
    color: rgb(58 106 191);
}
.summ-icon{
    cursor: pointer;
}

.scrolDiv{
    overflow: scroll;
    height: 300px;
}
.scrolDiv1{
    overflow: scroll;
    height: 500px;
}
#newSummDivTextarea h6{
    font-size: 12px;
}
.ExecutiveSummaryListStyle{
    padding-top: 20px;    
    max-height:98vh;
}

.top-menu{ position: sticky; top: 0; background-color: #ffffff; z-index: 1000;}

.groupStyle{
    background-color: #eeeeee;
    padding: 10px 20px;
    border-radius: 5px;
}
.groupStyle i{
    float: right;
}
.groupStyle a{
    color: #0f0f0f;
    font-weight: 600;
}
.groupStyleRow .col-3{
    margin-top: 10px;
}
.groupStyleRow .col-3 a{
    margin: 10px;
}
i{
    cursor: pointer;
}
label h6{
    margin-bottom: 0px !important;
    font-size: 14px;
    margin-top: 10px;
}

.rotate-icon{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate-icon.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

.bc-tr.active:hover{
    color: #ffffff;
}
.bc-tr.active:hover .bug-icon{ 
    color: rgb(66, 82, 110);
}
.bc-tr.active .bug-icon{ 
    color:rgb(66,82, 110);
}
.bc-tr:hover .bug-icon{
    color: rgb(66, 82, 110);
}

.bc-tr.active:hover .summ-icon{ 
    color:#ffffff;
}
.bc-tr.active .summ-icon{ 
    color:#ffffff;
}

.bc-tr:hover .summ-icon{
    color: rgb(58, 106, 191);
}

.bc-probdesc-counts{
    width:90px;
    border: 0px solid;
}

.bc-probdesc{
    width:100%;
    border: 0px solid;
    background-color:transparent;
}

.dropdown-item:active{
    color: #000000;
}

.tableFixed{
    position: sticky;
    top: 0;
    height: 100%;
    overflow: auto;
}
/*end  exercutive summary  */
